<!-- nav-button-wrap-->
<div class="nav-button-wrap color-bg">
  <div class="nav-button">
    <span></span><span></span><span></span>
  </div>
</div>
<!-- nav-button-wrap end-->
<!--  navigation -->
<div class="collapse navbar-collapse" id="navbarResponsive">
  <nav>
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Home <i class="fa fa-fw fa-dashboard"></i></a>
        <!--second level -->
        <ul class="dropdown-menu dropdown-messages">
          <li><a href="index.html">Parallax Image</a></li>
          <li><a href="index2.html">Video</a></li>
          <li><a href="index3.html">Map</a></li>
          <li><a href="index4.html">Slideshow</a></li>
          <li><a href="index5.html">Sider</a></li>
        </ul>
        <!--second level end-->
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Listings">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Listings <i class="fa fa-caret-down"></i></a>
        <!--second level -->
        <ul class="dropdown-menu dropdown-messages">
          <li><a href="listing.html">Column map</a></li>
          <li><a href="listing2.html">Column map 2</a></li>
          <li><a href="listing3.html">Fullwidth Map</a></li>
          <li><a href="listing4.html">Fullwidth Map 2</a></li>
          <li><a href="listing5.html">Without Map</a></li>
          <li><a href="listing6.html">Without Map 2</a></li>
          <li>
            <a href="#">Single <i class="fa fa-caret-down"></i></a>
            <!--third  level  -->
            <ul>
              <li><a href="listing-single.html">Style 1</a></li>
              <li><a href="listing-single2.html">Style 2</a></li>
              <li><a href="listing-single3.html">Style 3</a></li>
            </ul>
            <!--third  level end-->
          </li>
        </ul>
        <!--second level end-->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog.html">News</a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pages">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Pages <i class="fa fa-fw fa-caret-down"></i></a>
        <!--second level -->
        <ul class="dropdown-menu dropdown-messages">
          <li><a href="about.html">About</a></li>
          <li><a href="contacts.html">Contacts</a></li>
          <li><a href="author-single.html">User single</a></li>
          <li><a href="how-itworks.html">How it Works</a></li>
          <li><a href="pricing-tables.html">Pricing</a></li>
          <li><a href="dashboard-myprofile.html">User Dasboard</a></li>
          <li><a href="blog-single.html">Blog Single</a></li>
          <li><a href="dashboard-add-listing.html">Add Listing</a></li>
          <li><a href="404.html">404</a></li>
          <li><a href="coming-soon.html">Coming Soon</a></li>
          <li><a href="header2.html">Header 2</a></li>
          <li><a href="footer-fixed.html">Footer Fixed</a></li>
        </ul>
        <!--second level end-->
      </li>
    </ul>
  </nav>
</div>
<!-- navigation  end -->