<div class="header-search vis-header-search">
  <div class="input-group custom-search-form">
    <input type="text" placeholder="Keywords" value="" class="form-control">
  </div>
  <div class="header-search-select-item">
    <span class="selectbox" style="display:inline-block;position:relative"><div class="select" style="float:left;position:relative;z-index:10000"><div class="text">All Categories</div><b class="trigger"><i class="arrow"></i></b></div><div class="dropdown" style="position: absolute; z-index: 9999; overflow-y: auto; overflow-x: hidden; list-style: none; left: 0px; display: none;"><ul><li class="selected sel">All Categories</li><li>Shops</li><li>Hotels</li><li>Restaurants</li><li>Fitness</li><li>Events</li></ul></div></span><select data-placeholder="All Categories" class="chosen-select" style="position: absolute; top: -9999px;">
    <option>All Categories</option>
    <option>Shops</option>
    <option>Hotels</option>
    <option>Restaurants</option>
    <option>Fitness</option>
    <option>Events</option>
  </select>
  </div>
  <button class="header-search-button" onclick="window.location.href='listing.html'">Search</button>
</div>
<div class="show-search-button"><i class="fa fa-search"></i> <span>Search</span></div>
