<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">edit listing-Location</li>
</ol>
<!-- /Breadcrumbs-->

<%= form_for @listing do |f| %>
  <section class="box_general u-pad_bottom_30">
    <div class="header_box version_2">
      <h2>Location</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Select City</label>
          <div class="styled-select">
          <select>
            <option>Tokyo</option>
            <option>New York</option>
            <option>Los Angeles</option>
            <option>San Francisco</option>
          </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Address</label>
          <%= f.text_field :address, placeholder: "例: 東京都港区六本木1丁目1", class: "form-control", required: "true" %>
        </div>
      </div>
    </div>
    <!-- /row -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>State</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Zip Code</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <!-- /row -->
  </section>

  <%= render 'shared/verticalnavbar'%>

  <p>
    <%= f.submit "Update", class: "button button--save u-border-rounded" %>
  </p>
<% end %>
