<div class="container">
  <div class="col-md-3">
    <%= render 'shared/verticalnavbar'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">
          <span style="font-size:24px;">料金の設定</span>
        </div>
      </div>

      <div class="panel-body">
        <%= form_for @listing do |f| %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>一回あたりの料金</label>
                <div class="input-group">
                  <%= f.text_field :price, placeholder: "例: 10,000", class: "form-control", required: "true" %>
                  <div class="input-group-addon">円</div>
                </div>
              </div>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "更新", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>