<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">listing-Publish</li>
</ol>
<!-- /Breadcrumbs-->

<%= form_for @listing do |f| %>
  <section class="box_general u-pad_bottom_30">
    <div class="header_box version_2">
      <h2>Publish</h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Publish Setting</label>
          <div class="styled-select">
            <%= f.select :active, [["公開する","true"], ["非公開にする","false"]], 
            { prompt: "選択してください" }, { required: 'true', autofocus: 'true' } %>
          </div> 
        </div>
      </div>
    </div>
  </section>

  <%= render 'shared/verticalnavbar'%>

  <p>
    <%= f.submit "Update", class: "button button--save u-border-rounded" %>
  </p>
<% end %>