<li id="js-navigation-more" class="nav-link more">
  <a href="javascript:void(0)">More</a>
  <ul class="submenu">
    <li>
      <%= link_to new_listing_path do %>
        Add Listing
      <% end %>
    </li>
    <li>
      <a href="javascript:void(0)">Another Item</a>
    </li>
    <li class="more">
      <a href="javascript:void(0)">Item with submenu</a>
      <ul class="submenu">
        <li>
          <a href="javascript:void(0)">Sub-submenu Item</a>
        </li>
        <li>
          <a href="javascript:void(0)">Another Item</a>
        </li>
      </ul>
    </li>
    <li class="more">
      <a href="javascript:void(0)">Another submenu</a>
      <ul class="submenu">
        <li>
          <a href="javascript:void(0)">Sub-submenu</a>
        </li>
        <li>
          <a href="javascript:void(0)">An Item</a>
        </li>
      </ul>
    </li>
  </ul>
</li>
