<li class="nav-link">
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
       Sign out
    <% end %>
  <% else %>
    <%= link_to user_facebook_omniauth_authorize_path do %>
        Sign in
    <% end %>
  <% end %>
</li>