<section class="content">
  <%= render 'shared/host/container_path' %>

  <div class="row">
    <%= render 'shared/host/container_side_menu' %>
    <div class="col-md-9 order-md-2">
      <h3 class="mb-3">Basic Informations</h3>
      <%= render 'form', room: @room %>
      <%= link_to 'Back', rooms_path %>
    </div>
  </div>
</section>

