<section class="content">
  <%= render 'shared/host/container_path' %>

  <div class="row">
    <div class="col-md-4 order-md-1">
      <%= render 'shared/host/container_side_menu' %>
    </div>
    <div class="col-md-8 order-md-2">
      <h3 class="title-l">Basic Informations</h3>
      <%= render 'form', room: @room %>
      <%= link_to 'Back', rooms_path %>
    </div>
  </div>
</section>

