.dropdown {
  &-panel {
    position: relative;
    text-align: left;
    padding: 15px 10px 0 15px;
    &__content {
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      position: absolute;
      top: 58px;
      left: 0;
      z-index: 99;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 12px 35px 2px rgba(0,0,0,.12);
      padding: 15px 15px 0;
      white-space: normal;
      width: 280px;
    }
  }
}