.footer {
  background-color: #121921;
  color: #fbfbfb;
  color: rgba(255,255,255,.7);
  h5 {
    color: #fff;
    margin: 25px 0;
    font-size: 18px;
  }
  h6 {
    color: #fff;
    margin: 15px 0;
  }
  &__text {
    color: #fff;
    height: 110px;
  }
}

footer ul li {
  margin-bottom: 5px;

  a {
    transition: all .3s ease-in-out;
    display: inline-block;
    position: relative;
    color: #fff;
    opacity: .7;
  }
}

.follow_us {
  margin-top: 15px;
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  li {
    display: inline-block;
    font-size: 20px;
  }
  li:first-child {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
    font-size: .8125rem;
  }
}

#additional_links {
  margin: 0;
  padding: 8px 0 0;
  color: #555;
  font-size: 13px;
  font-size: .8125rem;
  float: right;

  li {
    display: inline-block;
    margin-right: 15px;

    a {
      display: inline-block;
      position: relative;
      color: #fff;
      opacity: .5;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }

    span {
      color: #fff;
      opacity: .5;
    }
  }

  li:after {
    content: "|";
    font-weight: 300;
    position: relative;
    left: 10px;
  }
}