.is-hidden {
  display: none;
}

.u-bg-white {
  background: #fff;
}

.u-bg-admin {
  background: #171a1c;
}

.u-mar_80_0 {
  margin-top: 80px; 
}

.u-mar_bottom_48 {
  margin-bottom: 48px;
}

.u-pad_bottom_30 {
  padding-bottom: 30px;
}

.u-pad_8_8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.u-pad_30_90 {
  padding-top: 30px;
  padding-bottom: 90px;
}

.u-pad_80_90 {
  padding-top: 80px;
  padding-bottom: 90px;
}

.u-pad_60_18 {
  padding-top: 60px;
  padding-bottom: 18px;
}

.u-pad_60_36 {
  padding-top: 60px;
  padding-bottom: 36px;
}

.u-top_80 {
  top: 80px !important;
}

.u-border-rounded {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
}